<div class="row mt-5">
    <div class="col-md-5 mx-auto">
            <div class="card card-body text-center">
               <h2><i class="fas fa-users fa-4x"></i></h2>
               <h3 class="card-title mt-2">Create an account or login</h3>
               <a href="/users/register" class="btn btn-info btn-block col-md-10 mx-auto mt-2">Register</a>
               <a href="/users/login" class="btn btn-info btn-block  col-md-10 mx-auto mt-3">Login</a>
            </div>
    </div>
</div>